<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
  <channel>
    <title>Yuki Updates</title>
    <link>{{ base_url }}/appcast.xml</link>
    <item>
      <title>Yuki {{ version }}</title>
      <pubDate>{{ pub_date }}</pubDate>
      <enclosure
        url="{{ base_url }}/Yuki-{{ version }}.dmg"
        sparkle:version="{{ version }}"
        sparkle:edSignature="{{ signature }}"
        length="{{ length }}"
        type="application/octet-stream" />
    </item>
  </channel>
</rss>
